@import "flexbox";

html{
  font-family:$font-stack;
}

.fa-row{
  @extend %flexbox;
  @include flex-direction(row);
  box-sizing: border-box;
}

.fa-row .fa-row-spacer{
  margin-left: .5em;
}

.fa-row.fa-row-center{
  @include align-items(center);
}
.fa-row.fa-row-centerContent{
  @include justify-content(center);
}

.fa-row.fa-row-left{
  @include justify-content(flex-start);
}

.fa-col{
  @extend %flexbox;
  @include flex-direction(column);
  height: 100%;
  box-sizing: border-box;
}

.fa-col.fa-col-center{

}

.fa-container{
  background-color: $color-background;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.fa-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fa-list.paddedList {
  box-sizing: border-box;
  padding: .5em;
}



